.u-spaceAN { margin: 0 !important; }
.u-spaceVN { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-spacehN { margin-left: 0 !important; margin-right: 0 !important; }
.u-spaceTN { margin-top: 0 !important; }
.u-spaceRN { margin-right: 0 !important; }
.u-spaceBN { margin-bottom: 0 !important; }
.u-spaceLN { margin-left: 0 !important; }

.u-spaceAS { margin: .5em!important; }
.u-spaceVS { margin-top: .5em!important; margin-bottom: .5em!important; }
.u-spaceHS { margin-left: .5em!important; margin-right: .5em!important; }
.u-spaceTS { margin-top: .5em!important; }
.u-spaceRS { margin-right: .5em!important; }
.u-spaceBS { margin-bottom: .5em!important; }
.u-spaceLS { margin-left: .5em!important; }

.u-spaceAM { margin: 1em!important; }
.u-spaceVM { margin-top: 1em!important; margin-bottom: 1em!important; }
.u-spaceHM { margin-left: 1em!important; margin-right: 1em!important; }
.u-spaceTM { margin-top: 1em!important; }
.u-spaceRM { margin-right: 1em!important; }
.u-spaceBM { margin-bottom: 1em!important; }
.u-spaceLM { margin-left: 1em!important; }

.u-spaceAL { margin: $--space-lg !important; }
.u-spaceVL { margin-top: $--space-lg !important; margin-bottom: $--space-lg !important; }
.u-spaceHL { margin-left: $--space-lg !important; margin-right: $--space-lg !important; }
.u-spaceTL { margin-top: $--space-lg !important; }
.u-spaceRL { margin-right: $--space-lg !important; }
.u-spaceBL { margin-bottom: $--space-lg !important; }
.u-spaceLL { margin-left: $--space-lg !important; }

.u-spaceAXL { margin: 5.875em!important; }
.u-spaceVXL { margin-top: 5.875em!important; margin-bottom: 5.875em!important; }
.u-spaceHXL { margin-left: 5.875em!important; margin-right: 5.875em!important; }
.u-spaceTXL { margin-top: 5.875em!important; }
.u-spaceRXL { margin-right: 5.875em!important; }
.u-spaceBXL { margin-bottom: 5.875em!important; }
.u-spaceLXL { margin-left: 5.875em!important; }