@mixin button ($bgcolor, $txtcolor) {
  -webkit-appearance: none;
  transition: background-color 0.2s;
  display: inline-block;
  padding: $--space $--space-md;
  cursor: pointer;
  background-color: $bgcolor;
  color: $txtcolor !important;
  font-weight: $normal-font;
  font-family: $text-font;
  font-size: 1rem;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    background: darken($bgcolor, 5%);
  }
  &:focus {
    outline: none;
  }
}

.Button-primary {
  @include button ($brand-primary, $white);
  border: 0;
  text-transform: uppercase;
  
  &:active,
  &:focus,
  &:hover {
    border: 0;
    color: $white;
  }
}

.Button-secondary {
  @include button ($green, $white);
  border: 0;
  
  &:active,
  &:focus,
  &:hover {
    border: 0;
    color: $white;
  }
}

.Button-action {
  @include button($xlight-gray, $medium-gray);
  font-size: 1rem;
  border: 1px solid $gray;
  padding: $--space $--space-lg;
  
  &:active,
  &:hover {
    border: 1px solid darken($gray, 10%);
    color: $medium-gray;
  }
  &--filled {
    background-color: $medium-gray;
    color: $white;
    border: none;
    
    &:hover {
      background-color: darken($medium-gray, 10%);
      border: none;
      color: $white;
    }
  }
  
  .Notice-count {
    top: -5px;
    right: -5px;
  }
}

.Button--orange {
  background-color: $orange;
  color: $white;
  
  &:active,
  &:focus,
  &:hover {
    background: darken($orange, 5%);
  }
}


.Button--wide {
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.Button--full {
  width: 100%;
}
.Button--space {
  margin-top: $--space-sm;
}
.Button--small {
  padding: $--space-sm $--space;
  font-size: 0.875rem;
}

.Button-bar {
  padding: $--space 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
.Button-bar--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  //padding: $--space;
  text-align: center;
  background: $white;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  
  [class*="Button-"] {
    border-radius: 0;
  }
}
.Button-bar--center {
  text-align: center;
}


// use content to render icons

.Button-facebook:before {
  content: url('data:image/svg+xml;utf8,<svg width="40px" height="20px" viewBox="0 0 2 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M9.70313776,0.991051152 C9.40179811,0.946408242 8.36385045,0.857122421 7.15849187,0.857122421 C4.63616743,0.857122421 2.90625466,2.39730283 2.90625466,5.22096691 L2.90625466,7.65400552 L0.0602691211,7.65400552 L0.0602691211,10.9575809 L2.90625466,10.9575809 L2.90625466,19.4285731 L6.3214373,19.4285731 L6.3214373,10.9575809 L9.15626211,10.9575809 L9.59153048,7.65400552 L6.3214373,7.65400552 L6.3214373,5.54462801 C6.3214373,4.59596616 6.57813403,3.93748324 7.95090353,3.93748324 L9.70313776,3.93748324 L9.70313776,0.991051152 Z" id="Facebook" fill="#7C7C7C"></path>
</svg>');
}
.Button-twitter:before {
  content: url('data:image/svg+xml;utf8,<svg width="40px" height="20px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M18.0803787,2.41069928 C17.4330565,2.68971747 16.7299307,2.89061056 16.0044834,2.96873566 C16.7522521,2.52230655 17.3214492,1.81918072 17.5893067,0.982126147 C16.8973416,1.39507307 16.1160906,1.69641271 15.3013575,1.8526629 C14.6428746,1.14953706 13.7053735,0.714268684 12.6674258,0.714268684 C10.6696556,0.714268684 9.0625108,2.33257418 9.0625108,4.3191837 C9.0625108,4.59820189 9.09599299,4.87722008 9.15179662,5.14507754 C6.16072163,4.98882735 3.49330774,3.56025422 1.71875205,1.37275161 C1.40625168,1.90846654 1.22768003,2.52230655 1.22768003,3.19195021 C1.22768003,4.4419517 1.86384151,5.54686373 2.83482481,6.19418593 C2.24330625,6.17186448 1.68526987,6.00445356 1.20535858,5.7365961 L1.20535858,5.78123901 C1.20535858,7.53347324 2.44419934,8.98436783 4.09598703,9.31918966 C3.79464738,9.39731475 3.47098628,9.44195766 3.14732518,9.44195766 C2.9129499,9.44195766 2.68973535,9.4196362 2.4665208,9.38615402 C2.92411063,10.8147272 4.25223721,11.8526748 5.83706053,11.886157 C4.59821977,12.8571403 3.04687863,13.4263374 1.36160877,13.4263374 C1.06026912,13.4263374 0.781250931,13.4151767 0.491072014,13.3816945 C2.08705606,14.4084814 3.98437975,15 6.0267929,15 C12.6562651,15 16.2835016,9.50892203 16.2835016,4.74329134 C16.2835016,4.58704116 16.2835016,4.43079097 16.2723408,4.27454079 C16.9754667,3.76114732 17.5893067,3.12498584 18.0803787,2.41069928 L18.0803787,2.41069928 Z" id="Twitter" fill="#7C7C7C"></path>
          </svg>');
}
.Button-google:before {
  content: url('data:image/svg+xml;utf8,<svg width="40px" height="20px" viewBox="0 0 26 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.0379655,9.04686671 C16.0379655,8.51115179 15.9821619,8.09820487 15.9040368,7.68525795 L8.18081332,7.68525795 L8.18081332,10.4977613 L12.823676,10.4977613 C12.6339436,11.6919592 11.4174243,14.0245512 8.18081332,14.0245512 C5.39063143,14.0245512 3.113843,11.7142806 3.113843,8.85713434 C3.113843,5.99998808 5.39063143,3.68971747 8.18081332,3.68971747 C9.77679737,3.68971747 10.8370665,4.37052185 11.4397458,4.95087969 L13.6607306,2.81918072 C12.2321574,1.4798934 10.3906374,0.676321018 8.18081332,0.676321018 C3.66071865,0.676321018 0,4.33703967 0,8.85713434 C0,13.377229 3.66071865,17.0379477 8.18081332,17.0379477 C12.9018011,17.0379477 16.0379655,13.7232116 16.0379655,9.04686671 L16.0379655,9.04686671 Z M25.7143164,7.68525795 L23.3817243,7.68525795 L23.3817243,5.35266588 L21.0379715,5.35266588 L21.0379715,7.68525795 L18.7053794,7.68525795 L18.7053794,10.0290107 L21.0379715,10.0290107 L21.0379715,12.3616028 L23.3817243,12.3616028 L23.3817243,10.0290107 L25.7143164,10.0290107 L25.7143164,7.68525795 Z" id="Google" fill="#7C7C7C"></path>
</svg>');
}
.Button-mail:before {
  content: url('data:image/svg+xml;utf8,<svg width="40px" height="20px" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M18.5714507,14.6428567 C18.5714507,14.8325891 18.4040398,15 18.2143074,15 L1.78571641,15 C1.59598405,15 1.42857313,14.8325891 1.42857313,14.6428567 L1.42857313,6.07141793 C1.66294841,6.33927539 1.91964515,6.5848114 2.19866334,6.80802595 C3.79464738,8.03570598 5.40179215,9.28570747 6.95313329,10.5803519 C7.79018786,11.2834777 8.82813552,12.1428537 9.98885119,12.1428537 L10.0000119,12.1428537 L10.0111726,12.1428537 C11.1718883,12.1428537 12.209836,11.2834777 13.0468906,10.5803519 C14.5982317,9.28570747 16.2053765,8.03570598 17.8013605,6.80802595 C18.0803787,6.5848114 18.3370754,6.33927539 18.5714507,6.07141793 L18.5714507,14.6428567 Z M18.5714507,2.91293202 C18.5714507,3.86159386 17.656271,5.10043463 16.9308238,5.66963173 C15.4352863,6.84150813 13.9397488,8.02454526 12.455372,9.20758238 C11.8638534,9.68749367 10.7924236,10.7142806 10.0111726,10.7142806 L10.0000119,10.7142806 L9.98885119,10.7142806 C9.20760026,10.7142806 8.13617041,9.68749367 7.54465185,9.20758238 C6.06027508,8.02454526 4.56473758,6.84150813 3.06920009,5.66963173 C2.0647346,4.87722008 1.42857313,3.77230804 1.42857313,2.4999851 C1.42857313,2.31025273 1.59598405,2.14284182 1.78571641,2.14284182 L18.2143074,2.14284182 C18.6384151,2.14284182 18.5714507,2.63391383 18.5714507,2.91293202 L18.5714507,2.91293202 Z M20.0000238,2.4999851 C20.0000238,1.51784107 19.1964515,0.714268684 18.2143074,0.714268684 L1.78571641,0.714268684 C0.803572387,0.714268684 0,1.51784107 0,2.4999851 L0,14.6428567 C0,15.6250007 0.803572387,16.4285731 1.78571641,16.4285731 L18.2143074,16.4285731 C19.1964515,16.4285731 20.0000238,15.6250007 20.0000238,14.6428567 L20.0000238,2.4999851 Z" id="Envelope" fill="#7C7C7C"></path>
</svg>');
}
.Button-embed:before {
  content: url('data:image/svg+xml;utf8,<svg width="40px" height="20px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M6.88616892,13.4709803 C7.03125838,13.3258909 7.03125838,13.1026763 6.88616892,12.9575869 L2.50000298,8.57142091 L6.88616892,4.18525496 C7.03125838,4.04016551 7.03125838,3.81695095 6.88616892,3.6718615 L6.32813254,3.11382512 C6.18304309,2.96873566 5.95982853,2.96873566 5.81473907,3.11382512 L0.613840017,8.31472417 C0.468750559,8.45981363 0.468750559,8.68302818 0.613840017,8.82811764 L5.81473907,14.0290167 C5.95982853,14.1741062 6.18304309,14.1741062 6.32813254,14.0290167 L6.88616892,13.4709803 Z M13.4821589,1.56248398 C13.5379626,1.37275161 13.4263553,1.17185852 13.2366229,1.11605488 L12.5446578,0.926322509 C12.3660862,0.870518871 12.1651931,0.982126147 12.1093894,1.17185852 L7.94643804,15.5803578 C7.89063441,15.7700902 8.00224168,15.9709833 8.19197405,16.0267869 L8.88393916,16.2165193 C9.0625108,16.2723229 9.2634039,16.1607157 9.31920754,15.9709833 L13.4821589,1.56248398 Z M20.814757,8.82811764 C20.9598464,8.68302818 20.9598464,8.45981363 20.814757,8.31472417 L15.6138579,3.11382512 C15.4687684,2.96873566 15.2455539,2.96873566 15.1004644,3.11382512 L14.5424281,3.6718615 C14.3973386,3.81695095 14.3973386,4.04016551 14.5424281,4.18525496 L18.928594,8.57142091 L14.5424281,12.9575869 C14.3973386,13.1026763 14.3973386,13.3258909 14.5424281,13.4709803 L15.1004644,14.0290167 C15.2455539,14.1741062 15.4687684,14.1741062 15.6138579,14.0290167 L20.814757,8.82811764 Z" id="Code" fill="#7C7C7C"></path>
</svg>');
}