.Login {
  width: 390px;
  padding: $--space-md;
  background-color: $white;
  border-radius: $--radius;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.2);
}
  .Login-header {
    text-align: center;
    margin-bottom: rem(30);
    
    .Logo {
      margin-bottom: rem(40);
    }
    
  }
  .Login-form {
    margin-bottom: rem(25);
    
    .Button-primary {
      margin-top: rem(10);
    }
    
  }
  .Login-actions {
    text-align: center;
    font-size: rem(13);
    margin-bottom: rem(40);
  }
  .Login-footer {
    text-align: center;
    color: #c8cbd8;
    font-size: rem(13);
    
    span {
      font-size: rem(10);
    }
    
  }
  